<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="com.arcesium.swiftlake.mybatis.type.LocalDateTypeHandler"/>
        <typeHandler handler="com.arcesium.swiftlake.mybatis.type.LocalTimeTypeHandler"/>
        <typeHandler handler="com.arcesium.swiftlake.mybatis.type.LocalDateTimeTypeHandler"/>
        <typeHandler handler="com.arcesium.swiftlake.mybatis.type.OffsetDateTimeTypeHandler"/>
        <typeHandler handler="com.arcesium.swiftlake.mybatis.type.FloatTypeHandler"/>
        <typeHandler handler="com.arcesium.swiftlake.mybatis.type.DoubleTypeHandler"/>
    </typeHandlers>
    <mappers>
        <mapper resource="mybatis/test_mapper.xml"/>
    </mappers>
</configuration>